:root{
  font-family: 'Courier New', Courier, monospace;
  line-height: 20px;
  --btn-color-green: rgb(64,170,87);
  --btn-color-red: rgb(155, 34, 56);
  --color-1: #AF4D98;
  --color-2: #D66BA0;
  --color-3: #E5A9A9;
  --color-4: #F4E4BA;
  --color-5: #9DF7E5;
}


body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #fff;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* *************************** TITLE *************************** */
.title{
  margin-top: 25px;
  display: grid;/* 
  position: relative; */
  grid-template-columns: repeat(2, 1fr);  
  padding-right: 10px;
}
.title .btn{
  /* position: absolute; */
  margin: 0  90% ;
}
.line{
  width: 900px;
  height: 2px;
  margin: 0 0 20px 0;
  background-color: crimson;
}
.container{
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media screen and (max-width:1000px) {
  .container{
    width: 90%;
    margin: 0 auto;
  }
  .line{
    width: 80%;
    margin: 0 auto;
  }
  .title{
    width: 90%;
    margin: 0 auto;
  }
  
}

/* *************************** CARD *************************** */
.container .card{
  position: relative;
}
.card{
  --bs-card-border-color: transparent;
  --bs-card-bg: transparent;
}
.container .card .face {
  width: 300px;
  height: 200px;
  transition: 0.7s;
}

.container .card .face.face1 {
  position: relative;
  background: #3f3f3f;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container .card:hover .face.face1{
  background: #ff0057;
  transform: translateY(0);
}

.container .card .face.face1 .content{
  opacity: 0.4;
  transition: 0.5s;
}

.container .card:hover .face.face1 .content{
  opacity: 1;
}

.container .card .face.face1 .content h3{
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.6em;
}

.container .card .face.face2{
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 10px 30px rgba(46, 33, 33, 0.8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2{
  transform: translateY(0);
}

.container .card .face.face2 .content .p{
  margin: 20px 0;
  padding: 0;
}


/* *************************** BUTTON *************************** */
.info-btn{
  display: flex;
  column-gap: 25px;
  justify-content: space-around;
  
}
.btn{
  width: 60px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: black;
  border-radius: 50%;
  outline: 3px solid transparent;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: .25s;
  margin: 10px;
  cursor: pointer;
}
.btn:hover{
  outline-offset: 4px;
}
.btn:hover i {
  animation: shake .25s;
}
.form-btn{
  width: 80px;
  height: auto;
  font-size: 16px;
  border-radius: 3px;
}
.form-btn:hover{
  background: var(--color-3);
  color: #fff;
  animation: shake 0.25s;
}
/* 
.delete-btn{
  background-color: var(--btn-color-red);
} */
.delete-btn:hover {
  background-color: crimson;
  outline-color: crimson;
}

.select-btn:hover{
  background-color: var(--btn-color-green);
  outline-color: var(--btn-color-green);
} 
.add-btn:hover{
  background-color: dodgerblue;
  outline-color: dodgerblue ;
}
@keyframes shake {
  10%{transform: rotate(15deg);}
  20%{transform: rotate(-15deg);}
  30%{transform: rotate(15deg);}
  40%{transform: rotate(-15deg);}
}

/* *************************** FORM *************************** */

.form-container{
  padding: 10px;
}
.modal-content{
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.9);
}
input{
  width: 100%;
  text-align: center;
  margin: 5px 0;
  border: 1px solid rgba(10, 34, 61, 0.171);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 1px;
}
.lineModal{
  width: 95%;
  height: 2px;
  align-self: center;
  background-color: crimson;
}