:root{
  font-family: 'Courier New', Courier, monospace;
  line-height: 20px;
  --btn-color-green: rgb(64,170,87);
  --btn-color-red: rgb(155, 34, 56);
  --color-1: #AF4D98;
  --color-2: #D66BA0;
  --color-3: #E5A9A9;
  --color-4: #F4E4BA;
  --color-5: #9DF7E5;
}

html{
  box-sizing: border-box;
}
body{
  background-color: var(--color-2);
}

ul{
  margin: 0 auto;
  border: 6px ridge crimson;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.card-container{
  width: max-content;
    min-width: 350px;
  height: max-content;
    min-height: 150px;
  margin: 15px;
  border: 1px solid transparent;
  border-radius: 7px;
  box-shadow: 4px 6px 10px 4px rgba(0, 0, 0, 0.5);
  background-color: var(--color-4);
}
.card-container:hover{
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
  transform: scale(1.05);
  border-radius: 0;
}
li div {
  margin: 10px;
}
li h3{
  text-align: center;
  line-height: 10px
}
li::marker{
  content: none;
}
.info-container{
  /* border: 2px solid #9DF7E5; */
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.info-target{
  /* border: 2px solid #9DF7E5; */
  width: max-content;
  margin-left: 0;
}
.info-btn{
  width: max-content;
  /* border: 2px solid #9DF7E5; */

}
.btn{
  margin: 10px;
  width: 25px; 
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete-btn{
  background-color: var(--btn-color-red);
}

.select-btn{
  background-color: var(--btn-color-green);
} 